@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ↑ Imports ↑ */

:root {
    --width-constraint: 1280px;
}

html, body {
	width: 100%;
	margin: 0px;
}

a {
    color: var(--ym-foreground-link);
}

button, .button, input, select {
    padding: 8px;
}

input, select, textarea {
    border-radius: 4px;
    box-shadow: none;
    border: 2px solid var(--ym-background-light);
    background-color: var(--ym-background-dark);
    color: var(--ym-foreground-light);
}

/* TODO: Cleanup. */

textarea {
    resize: none;
}

label:has(+ input), 
label:has(+ select),
label:has(+ textarea) {
    display: block;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

label:has(+ *[required])::after {
    padding-left: 8px;
    content: "*";
    color: red;
}

.invalidity-flag, .error, .success {
    margin: 6px 0 6px 0;
    border-radius: 6px;
    padding: 6px;
    font-size: 1rem;
}

.invalidity-flag, .error {
    border: 2px solid var(--ym-foreground-error);
    background-color: var(--ym-background-error);
    color: var(--ym-foreground-error);
}

.success {
    border: 2px solid var(--ym-foreground-success);
    background-color: var(--ym-background-success);
    color: var(--ym-foreground-success);
}

.invalidity-flag, .result {
    display: none;
}

input:invalid + .invalidity-flag,
select:invalid + .invalidity-flag,
textarea:invalid + .invalidity-flag,
.result[show] {
    display: block;
}

/* ↓ Colour palettes ----------------- */
.palette-0 {
	--ym-foreground-light:    hsl(228, 10%, 98%);
    --ym-foreground-disabled: hsl(228, 10%, 60%);
    --ym-foreground-link:     hsl(228, 80%, 80%);
    --ym-foreground-error:    hsl(348, 75%, 10%);
    --ym-foreground-success:  hsl(138, 75%, 10%);
    --ym-background-light:    hsl(228, 45%, 20%);
    --ym-background-medium:   hsl(228, 45%, 15%);
    --ym-background-dark:     hsl(228, 45%, 10%);
    --ym-background-hover:    hsl(228, 45%, 30%);
    --ym-background-error:    hsl(348, 75%, 60%);
    --ym-background-success:  hsl(138, 75%, 60%);
	--ym-accent-light:        hsl(48, 80%, 90%);
    --ym-accent-disabled:     hsl(48, 10%, 60%);

    --ym-ef-glass-fade:   linear-gradient(to bottom, hsla(228, 45%, 20%, 90%) 25%, hsla(228, 45%, 20%, 80%) 100%);
    --ym-ef-vitrine-fade: linear-gradient(to bottom, hsl(228, 45%, 10%) 80%, hsl(228, 45%, 15%) 100%);
}

.fg-light  { color:            var(--ym-foreground-light);  }
.bg-dark   { background-color: var(--ym-background-dark);   }
.bg-medium { background-color: var(--ym-background-medium); }
.bg-light  { background-color: var(--ym-background-light);  }
.ac-light  { border-color:     var(--ym-accent-light);      }

.ef-glass {
	background: var(--ym-ef-glass-fade);
    backdrop-filter: blur(10px);
}

/* ↓ Layout -------------------------- */

.container {
	display: block;
	margin: auto;
	padding: 8px;
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
}

.my-0, .mt-0 { margin-top: 0; }
.my-0, .mb-0 { margin-bottom: 0; }

.b-w-full,
.b-w-50,
.layout-col-2, .layout-col-4 {
    box-sizing: border-box;
}

.b-w-full { width: 100%; }
.b-w-50   { width: 50%;  }

.layout-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.layout-row {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* Mobile? */
@media screen and (max-width: 768px) {
    .layout-column .layout-row {
        flex-direction: column;
    }
    
    .layout-col-2, .layout-col-4 {
        max-width: 100%;
        flex-grow: 1;
    }
}

/* Desktop: PAL  */
@media screen and (min-width: 768px) {
    .layout-column .layout-row {
        flex-direction: row;
        align-items: stretch;
        flex-grow: 1;
    }

    .layout-row > * { flex: 1 1 0; }

    .d-sy-4    { margin: 4px 0;   }
    .d-sx-4    { margin: 0   4px; }

    .layout-col-2 {
        max-width: 50%;
        flex-grow: 2;
    }
    .layout-col-4 {
        max-width: 25%;
        flex-grow: 1;
    }
}
/* Desktop: WXGA */
@media screen and (min-width: 1280px) {
    .layout-column > * {
        min-width: 0;
        max-width: 1280px;
    }
}

.card {
    margin: 4px;
    border-radius: 8px;
    background-color: var(--ym-background-light);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
    .card:hover {
        transform: translateY(-6px);
        box-shadow: 6px 12px 10px hsla(0, 0%, 0%, 12%);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }

.imgfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ↓ Text sizing & fonts ------------- */

h1, h2, h3 {
    color: var(--ym-accent-light);
	font-family: "Playfair Display", serif;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--ym-accent-light);
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.0rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

/* ↓ Navigation widgets & Controls --- */

header.sitewide {
	position: fixed;
    z-index: 10;
	width: 100vw;
}

nav.sitewide {
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid var(--ym-accent-light);
}
    nav.sitewide > * {
        font-size: 1.25rem;
        padding: 8px;
    }
    nav.sitewide > #title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
        nav.sitewide > #title > * {
            margin-right: 4px;
        }
    nav.sitewide > main {
        display: flex;
        align-items: center;
    }

button, .button {
    border: 2px solid var(--ym-background-light);
    border-radius: 6px;
    background-color: var(--ym-background-medium);
    color: var(--ym-foreground-light);
    text-decoration: none;
    box-shadow: 6px 12px 10px hsla(0, 0%, 0%, 12%);
    transition: background-color 0.1s ease-in-out;
}
    button:hover, .button:hover {
        background-color: var(--ym-background-hover);
    }

.dropdown.container {
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
}
    .dropdown.container > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-size: 1rem;
        font-weight: bold;
    }
    .dropdown.container[expanded] > button {
        background-color: var(--ym-accent-light);
        color: var(--ym-background-dark);
    }
    .dropdown.container[expanded] > .dropdown.list {
        display: flex;
        flex-direction: column;
    }

.dropdown.list {
    position: absolute;
    right: 0px;    

    display: none;
    border: 2px solid var(--ym-accent-light);
    border-radius: 6px;
}
    .dropdown.list > * {
        display: block;
        padding: 8px;

        background-color: var(--ym-background-dark);
    }
        .dropdown.list > *:hover {
            background-color: var(--ym-background-hover);
            cursor: pointer;
            transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        }

/* ↓ Miscellaneous ----------------- */

.vitrine {
    height: 80vh;
    display: flex;
    align-items: center;
    background: var(--ym-ef-vitrine-fade);
}
    .vitrine > *:first-child {
        margin: 0 auto;
        text-align: center;
    }
    .vitrine h1 {
        margin-bottom: 0.2rem;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.2;
    }
    .vitrine p {
        margin-top: 0;
        margin-bottom: 0.4rem;
        font-family: "Fira Sans", sans-serif;
        font-weight: normal;
        font-size: 1.25rem;
    }
    .vitrine .button {
        font-family: "Fira Sans", sans-serif;
        font-weight: normal;
        font-size: 1.25rem;
    }

footer.sitewide {
    background-color: var(--ym-background-light);
}